<div id="container">
  <main>
    <img src="/images/logo.png" alt="Corporativo Kallpa - Logo" />
  </main>
</div>

<style>
  #container {
    min-height: 100vh;
    height: 100%;
    background-color: #313237;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-inline: 1rem;

    & img {
      width: 100%;
      max-width: 480px;
      height: auto;
    }
  }
</style>
