<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Corporativo Kallpa - Estudio de abogados</title>
		<meta name="viewport" content="width=device-width" />
		<meta name="application-name" content="Corporativo Kallpa - Estudio de abogados" />
		<meta name="keywords" content="estudio de abogados, abogados, arequipa, asesoria integral, empresas, corporativo kallpa" />
		<meta name="description" content="Somos un estudio especializado en la asesoría integral a nuestros clientes, ofrecemos asesoría de carácter preventiva como de solución, además de contar con un staff de profesionales especializados en litigación en cualquier materia legal." />
		<meta name="author" content="Corporativo Kallpa" />
		<meta property="og:type" content="abogados" />
		<meta property="og:title" content="Corporativo Kallpa - Estudio de abogados" />
    <meta property="og:description" content="Somos un estudio especializado en la asesoría integral a nuestros clientes, ofrecemos asesoría de carácter preventiva como de solución, además de contar con un staff de profesionales especializados en litigación en cualquier materia legal." />
    <meta property="og:image" content="https://corporativokallpa.com/images/logo.png" />
    <meta property="og:url" content="https://corporativokallpa.com/" />
		<meta property="og:site_name" content="Corporativo Kallpa" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
